<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401296511914-qp9d6agitgegqcmc7if37r00b5h0h1s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401296511914-qp9d6agitgegqcmc7if37r00b5h0h1s6</string>
	<key>API_KEY</key>
	<string>AIzaSyBGugDBl5dYKfOC9RVNWmjLImvw7gVhJm8</string>
	<key>GCM_SENDER_ID</key>
	<string>401296511914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edgartobon.Optica-Mexicana</string>
	<key>PROJECT_ID</key>
	<string>optica-mexica-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>optica-mexica-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401296511914:ios:d4aec2695a05b4d17b91d3</string>
</dict>
</plist>